.list-group-horizontal .list-group-item {
    display: inline-block !important;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0 !important;
    margin-left: -4px !important;
    margin-right: 0 !important;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
}

.ctext {
    display: inline-block !important;
    min-width: 30px !important;
    min-height: 30px !important;
    height: 100% !important;
    overflow: hidden !important;
    width: 100% !important;
}
.fontName{
    width:100% !important;
    display: inline !important;
}
.fontSelect{
    margin: 0px !important;
    padding: 5px !important;
    border: none !important;
    border-bottom: 1px red solid !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.fontSelect:focus{
    margin: 0px !important;
    padding: 5px !important;
    border: none !important;
    border-bottom: 1px green solid !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}




#link-popover-content{
    display:none !important;
    z-index: 10000000 !important;
}

#clickme{
    position: fixed !important;
    right: 50px !important;
    bottom: 50px !important;
    top: initial !important;
    color: #fff !important;
    background: orange !important;
    border-radius: 50% !important;
    height: 3em !important;
    width: 3em !important;
    line-height: 3em !important;
    text-align: center !important;
    font-size: 1.5em !important;
    transition: linear 0.2s !important;
    cursor: pointer !important;
}

#clickme:hover{
    box-shadow: 0px 3px 5px 0px #474747 !important;
}
